<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThird" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <i class="fas fa-shopping-cart"></i>
      My Cart
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownThird">
        <li class="dropdown-item">Your cart is empty.</li>
        <ng-container>
            <div class="cart__head">
                <div class="cart__name">Name</div>
                <div class="cart__price">Price</div>
                <div class="cart__remove"></div>
            </div>
            <div class="cart__body">
                <div class="card__row d-flex">
                    <div class="cart__name">Coca Cola 250ml</div>
                    <div class="cart__price">236 lei </div>
                    <div class="cart__remove"><i class="far fa-times-circle"></i></div>
                </div>
            </div>
        </ng-container>
    </ul>
</li>