<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for a qualified Front-end developer to join our IT team. 
          You will be responsible for building the ‘client-side’ of our web applications. 
          ou should be able to translate our company and customer needs into functional
           and appealing interactive applications.

            If you’re interested in creating a user-friendly environment by writing code
             and moving forward in your career, then this job is for you. 
             We expect you to be a tech-savvy professional, who is curious about 
             new digital technologies and aspires to combine usability with visual design.
            
            Ultimately, you should be able to create a functional and attractive digital
             environment for our company, ensuring great user experience.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Use markup languages like HTML to create user-friendly web pages</li>
    <li> Maintain and improve website</li>
    <li>Optimize applications for maximum speed</li>
    <li>Design mobile-based features</li>
    <li>Manage cutting-edge technologies to improve legacy applications</li>
    <li> Collaborate with back-end developers and web designers to improve usability</li>
    <li>Get feedback from, and build solutions for, users and customers</li>
    <li> Write functional requirement documents and guides</li>
    <li>Create quality mockups and prototypes</li>
    <li> Help back-end developers with coding and troubleshooting</li>
    <li>Ensure high quality graphic standards and brand consistency</li>
    <li>Stay up-to-date on emerging technologies</li>
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven work experience as a Front-end developer</li>
      <li> Hands on experience with markup languages</li>
      <li> Experience with JavaScript, CSS and jQuery</li>
      <li>In-depth understanding of the entire web development process 
        (design, development and deployment)</li>
      <li>Familiarity with front-end languages (e.g. HTML, JavaScript and CSS)</li>
      <li>Understanding of layout aesthetics</li>
      <li>Knowledge of SEO principles</li>
      <li>Familiarity with software like Adobe Suite, 
        Photoshop and content management systems</li>
      <li>BSc degree in Computer Science or relevant field</li>
   </ul>
 
      </div>
      

  </main>
</body>

