<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
</head>

<body>
  <main>
    <div class="thumbnail text-center">
    <img  src="../../../../assets/images/terms-cond/imgTermsCond.jpg"
    alt="Terms and Conditions" class="img-fluid">
    <br><br><br><br>
    <div class="card-body ">
        <div class="card-img-overlay">
             <h1 class="font-weight-bold">TERMS AND CONDITIONS</h1>
        </div>
    </div>
    </div>

    <div class="container">
        <h2>LAST UPDATED ON 2 APRIL 2019</h2>
      <p>These Terms & Conditions of Use govern your use of the Pizzetta web application  
        https://www.pizzetta.ro, including online and Call ordering. 
        Your use of the Pizzetta's website constitutes your acceptance
        of these Terms & Conditions of Use. </p>

    <p> Subject to law, Pizzetta's may, in its discretion, from time to time amend
      or otherwise modify the Terms & Conditions of Use. Pizzetta's recommends you 
      carefully read, each time you visit the website, the Terms & Conditions of
      Use as they may affect your rights.</p>
          
      <p>If you do not agree with the Terms & Conditions of Use, do not use the
           website or order online or via Phone call. </p>
      <br><br>
        <h2>PRIVACY POLICY</h2>
        <p>The Pizzetta's Privacy Policy forms part of the Terms & Conditions of Use and can be found 
         here: <button routerLink="/privacy" type="button" class="btn btn-link">Go to Privacy Policy</button>.</p>

         <h2>YOUR ACCESS TO THE WEBSITE</h2>
         <p>Pizzetta's hereby provides its permission for you to access its website in
           accordance with these Terms & Conditions of Use, provided that (1) your use of the website 
           is solely for your individual, personal, commercial and non-commercial use, and (2) 
           you will not copy, distribute or publish any part of the website other than as may 
           be reasonably necessary to use the website for its intended purpose, and (3)
            you will otherwise comply with the Term & Conditions of Use. </p>

      <p> You agree not to use or launch, or cause to be used or launched, any automated system 
        or program in connection with the Pizzetta's website, online or Phone call ordering, 
        including without limitation, publishing or distributing vouchers or codes, "robots", 
        "spiders", "offline readers" and the like. Notwithstanding the foregoing,
        Pizzetta's grants the operators of public search engines permission to use spiders 7
        to copy materials from the website for the sole purpose of creating publicly available 
        searchable indices of the materials, but not caches or archives of such materials. </p>
      <p> Pizzetta's reserves the right to revoke these exceptions either generally or in 
          specific cases. </p>
            
     <p>You agree not to collect or harvest any personally identifiable information form
         the website or use the communication systems provided by the website for any commercial
          solicitation purposes. You agree not to solicit for any reason whatsoever any users of 
          the website with respect to their submissions to the website.</p>
<br><br>
          <h2>INTELLECTUAL PROPERTY RIGHTS</h2>
        <p>The website contains many valuable trademarks owned and used by Pizzetta.
           These trademarks are used to distinguish Pizzetta quality products and services. 
           These trademarks and related proprietary property are protected from reproduction 
           and simulation under national and international laws and are not to be copied without
            the prior express written permission of Pizzetta.</p>
            
      <p>  The text, graphics and Pizzetta's html code (including flash files and java script)
             contained in the website are the exclusive property of Pizzetta, its affiliates or 
             related entities. Except where otherwise noted, the text, graphics and html code 
             contained here may not be copied, distributed, displayed, reproduced or transmitted 
             in any form or by any means without the prior express written permission of Pizzetta.</p>
            
       <p>    The website may link to sites not maintained by or related to Pizzetta. Hyper-text links
             are provided as a service to users and are not sponsored by or affiliated with this 
             website or Pizzetta. Pizzetta has not reviewed the sites hyper-linked to or from 
             this website and is not responsible for the content of any other site. These links
              are to be accessed at the user's own risk. Pizzetta makes no representations or 
              warranties about the content, completeness, or accuracy of these links or the sites 
              hyper-linked to this website. Furthermore, Pizzetta does not implicitly endorse third-party
               sites hyper-linked to this website. </p>
            
        <p> The content on the Pizzetta website, except all User Submissions (as defined below), 
            including, without limitation, the text, software, scripts, graphics, photos, images, 
            concepts, sounds, music, videos, interactive features and the like ("Content") and the trademarks, 
            service marks and logos contained therein ("Marks"), are owned by or licensed to
          Pizzetta, subject to copyright and other intellectual property rights under
          Romanian laws (as applicable) and international conventions. Content on the website 
          is provided to you as is for your information and personal use only and may not be used,
          copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, 
          or otherwise exploited for any other purposes whatsoever without the prior written consent
          of the respective owners.</p>
         <p> Pizzetta reserves all rights not expressly granted in and to 
          the website and the Content. You agree not to engage in the use, copying, or distribution
          of any of the Content other than expressly permitted herein, including any use, copying,
          or distribution of User Submissions of third parties obtained through the website for
          any commercial purposes.</p>
          <p>If you download or print a copy of the Content for personal
          use, you must retain all copyright and other proprietary notices contained therein.
          You agree not to circumvent, disable or otherwise interfere with security related 
          features of the website or features that prevent or restrict use or copying of any
          Content or enforce limitations on use of the website or the Content therein.</p>
<br><br>
          <h2>USER SUBMISSIONS</h2>
          <p>The Pizzetta website, application/s or software may now or in the future permit
          the submission of written works, photos, audio files, videos or other communications 
          submitted by you and other users of the website ("User Submissions") and the hosting, 
          sharing and/or publishing of the User Submissions. Once the User Submissions are submitted 
          to our website or through social media managed by Pizzetta, the submissions become property 
          of Pizzetta.</p> 
          <p>You understand that whether or not such User Submissions are published on
           the website, Pizzetta does not guarantee any confidentiality with respect to any submissions. 
           You agree that Pizzetta may publish your name and submissions on the Pizzetta website, 
           Pizzetta-managed social media, advertising, print material or in any other press releases of 
           media items.</p>
<br><br>
        <h2>REFUNDS</h2>
        <p>If you did not love your meal then please let us know. We will replace or refund your order
           and make sure that your next experience with us is a great one! Please be aware that while we
           do everything from our end to complete this refund as soon as possible, it may take up to 10 
           business days for the refund to be processed, depending on your financial institution and the
           transaction type (ie Credit card, Paypal). </p>
         <p>    To help us be better, we need your feedback, so please, let us know what you think, 
             <button routerLink='/feedback' type="button" class="btn btn-link">Go to Feedback Form</button>.
           </p>
<br><br>

        <h2>ONLINE ORDERING VIA THE WEBSITE, APPLICATIONS AND PHONE ORDERING</h2>
        <p>If the website, application or an electronic device is used (including for online or
           PHONE ordering), you are responsible for maintaining the confidentiality of your personal 
           details, password (if applicable) and payment details. </p>
           <p> You acknowledge that when you access 
           the website or an application as a registered member, you may remain logged in to the
          website or application even after closing the internet browser or application
          (unless you log-out prior to leaving the website/application, or you erase or block Cookies
          from the electronic device used to access the website (refer to our Privacy Policy 
          for more information on Cookies)). Where an online order is placed using a smartwatch, 
          your session will time out after 60 minutes of inactivity (provided that you have not 
          selected the ‘keep me logged in’ option on your registered online account).</p>
<br><br>
          <h2>COUPONS</h2>    
          <p>Pizzetta coupons contain a code which can be redeemed via the Pizzetta Pizza online 
            ordering system. Please note that Pizzetta
            coupons codes are single use codes and are only valid for redemption online; they will
           not be valid for orders placed in a Pizzetta store or over the phone (including via Phone 
           ordering). Coupon codes are not redeemable for cash or transferable. </p>
              
         <p> Pizzetta reserves the right, in its sole discretion, to cancel any voucher code,
              or refuse to honour any voucher code (including after it has been redeemed by a customer), 
              if Pizzetta suspects that the voucher code has been fraudulently generated and/or 
              circulated without Pizzetta's authorisation.</p>
<br><br>
          <h2>  PIZZETTA ONLINE ORDERING MEMBERSHIP  </h2>
          <p>You may provide your personal information, through Pizzetta Online Ordering (via the website) 
            to become a registered member of the online ordering system.  As a registered member you 
            will be able to save information such as your previous orders and payment details in order 
            to improve (and speed-up) your future ordering experience with us. </p>
          <p>Refer to our Privacy Policy for more details about how we deal with your personal information.</p>
<br><br>
          <h2>VEGETARIAN PRODUCTS</h2>
          <p>Pizzetta stores will endeavour to provide meat free products if requested by you,
            but traces of meat may be unintentionally present in food due to cross-contamination
          during store operations. We cannot guarantee that all vegetarian products will be 100%
          meat free.</p>
      <p> Note that vegetarian products are delivered in a green-colored box, whereas meat-containing products 
        come in red-colored boxes.</p>
<br><br>
          <h2>AGE RESTRICTION</h2>
          <p>We do not sell alcoholic beverages to customers with age bellow 18.</p>
<br><br>
          <h2>ABILITY TO ACCEPT TERMS & CONDITIONS OF USE</h2>
          <p>You affirm that you are either more than 18 years of age, or possess legal
             parental or guardian consent, and are fully able and competent to enter into the terms,
              conditions, obligations, affirmations, representations, and warranties set forth in 
              these Terms & Conditions of Use, and to abide by and comply with these Terms & Conditions
             of Use.</p>
    </div>
  </main>
</body>