<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for a skilled Cook to prepare delicious meals according to menu.
           You will cook dishes that will delight our customers with their taste and timely 
           delivery.

            An excellent cook must be able to follow instructions in cooking and delivering
             well-prepared meals. They must be deft in moving around the kitchen and apt in 
             multi-tasking. Experience in using various ingredients and cooking techniques 
             is also important.
            
            The goal is to help preserve and enhance our reputation so we can expand our 
            clientele.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Set up workstations with all needed ingredients and cooking equipment</li>
    <li> Prepare ingredients to use in cooking (chopping and peeling vegetables, 
      cutting meat etc.)</li>
    <li>Cook food in various utensils or grillers</li>
    <li>Check food while cooking to stir or turn</li>
    <li>Ensure great presentation by dressing dishes before they are served</li>
    <li> Keep a sanitized and orderly environment in the kitchen</li>
    <li>Ensure all food and other items are stored properly</li>
    <li> Check quality of ingredients</li>
    <li>Monitor stock and place orders when there are shortages</li>
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven experience as cook</li>
      <li> Experience in using cutting tools, cookware and bakeware</li>
      <li> Knowledge of various cooking procedures and methods 
        (grilling, baking, boiling etc.)</li>
      <li>Ability to follow all sanitation procedures</li>
      <li>Ability to work in a team</li>
      <li>Very good communication skills</li>
      <li>Excellent physical condition and stamina</li>
      <li>High school diploma or equivalent; Diploma from a culinary school will be an advantage</li>
     
   </ul>
 
      </div>
      

  </main>
</body>

