<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>

<body>
  <main>
      <div class="thumbnail text-center">
          <img  src="../../../../assets/images/terms-cond/imgPrivacyPolicy.jpg"
          alt="Terms and Conditions" class="img-fluid">
          <br><br><br><br>
          <div class="card-body ">
              <div class="card-img-overlay">
                   <h1 class="font-weight-bold">PRIVACY POLICY</h1>
              </div>
          </div>
      </div>

      <div class="container">
       <h2 class="text-uppercase">Last updated 2 April 2019</h2>
        <p>Pizzetta S.R.L, Nr. R.C.J40/1207/2015, C.U.I.RO17612390, respects the privacy of individuals. This policy sets out the way 
          in which Pizzetta and its franchisees ("we" or "us") collect, hold, disclose,
          use and protect your personal information. </p>
            
      <p> By visiting any of our website, creating accounts, placing an order with any of our stores
          (including franchise stores) or providing us
          with your personal information, you agree to your personal information being collected, 
          held, used and disclosed as set out in this Privacy Policy.</p>
<br><br>
        <h2 class="text-uppercase">Revisions to this Policy</h2>
        <p>We may revise this policy from time to time whenever necessary so check this website
           regularly to stay informed of any updates.  If we think any material changes to this policy 
           will have a significant effect on you, we may notify you by email or put a notice on the 
           homepage www.pizzetta.ro of our website. You can determine when this Privacy Policy was 
           last revised by referring to the date it was “Last Updated” above. </p>
        <p>If you continue to use our websites, place an order with any of our stores or 
          provide further personal Information to us after this policy has been revised you will be
            deemed to have accepted the revised policy.</p>
<br><br>
        <h2 class="text-uppercase">What Information we collect</h2>
        <p>We collect information necessary for us to process your order, process a refund of your order,
           register you for an account such as VIP club or Pizzetta Online Ordering, process your 
           application for employment or an expression of interest for a franchise, provide you with 
           information about new franchising opportunities, or provide you with other services and/or 
           the assistance you have requested.</p>
        
        <p>The personal information which we collect from you and hold ("Information") includes
          information like your first and last name, day and month of birth, postal address,
        telephone and mobile number(s), email address, details of your order (i.e. your last 
        four orders, your delivery address or preferred pick-up location), IP address 
        and credit card details. In respect of your credit card details we only hold some
        information, as detailed further below. If required, we may request your bank details
        in order to process a refund of your order.</p>
            
         <p>When you place an order with us online using the Pizzetta internet ordering system,
           we collect additional Information from you such as: </p> 
            <ul>
              <li> your IP address as part of your order;</li>
              <li>your feedback;</li>
              <li> your entries into our competitions and draws;</li>
              <li>your menu preferences and previous order information;</li>
              <li> any delivery instructions or comments;</li>
            </ul>            
            <p> We may also collect your smart device ID and use your smart device’s location services 
            (with your consent) in order to provide you with Pizzetta application services. </p>
<br><br>
            <h2 class="text-uppercase">How do we collect Information?</h2>
            <p>We collect your Information in various ways, including when you:</p>
              <ul>
                <li>visit any of our websites (including any application managed by Pizzetta;</li>
                <li>register to use our platform;</li>
                <li> when you "Like" our Facebook page or participate in any surveys, promotions
                   and competitions through our Facebook page;</li>
                <li>place an order via online ordering;</li>
                <li> interact with our franchise recruitment website or participate in the
                   franchise recruitment process;</li>
                <li>interact or follow our social media pages/profiles like Twitter, Facebook and Instagram;</li>
                <li>subscribe to our mailing list;</li>
                <li>  apply for a job with us;</li>
                <li>   submit feedback;</li>
                <li>place an order via a store, telephone or the Pizzetta internet ordering system;</li>
                <li>request that your order is delivered and the delivery vehicle that is used contains a GPS tracker;</li>
                <li>enable location tracking services on your smart device as part of an on time cooking order.</li>
              </ul>           
               <p> Except as noted in this policy, where possible Pizzetta or its franchisee will collect your 
                Information directly from you. However, there may be occasions when your Information is 
                collected from someone else (for example Pizzetta may collect your Information from its 
                franchisees, network companies, service providers and other third parties so that we may
                 provide an enhanced and more relevant user experience, service or product to you). </p>
            <p>Where Pizzetta or its franchisee collect your Information from someone other than you,
                Pizzetta or the franchisee will take reasonable steps to inform you of this (if this 
                is not already disclosed in this policy).  No matter where we obtain the Information from, 
                your Information is collected, held, used and disclosed by us in accordance with this policy.
              </p>
<br><br>
              <h2 class="text-uppercase">Pizzetta Careers</h2>
              <p>When you apply for a job with us or apply to become a franchisee we also collect some 
                information from you for the purposes of assessing your suitability as a Pizzetta employee or 
                franchisee (to which you have consented). </p>
                  
              <p>When you apply for a job with us through
                   <button routerlink='/careers'  type="button" class="btn btn-link">Careers Page</button>, we 
                   (or our franchisee as the case may be) may collect the following details from you: </p>
                  <ul>
                    <li> full name;</li>
                    <li>date of birth;</li>
                    <li>whether you are legally allowed to work in Romania (as applicable);</li>
                    <li>home address;</li>
                    <li>contact telephone numbers;</li>
                    <li> email address;</li>
                    <li>  employment record;</li>
                    <li> level of education;</li>
                    <li>references (it is your responsibility to provide us with contact details of 
                      people who have provided their express consent to you for their personal details to be 
                      included in your employment application);</li>
                    <li>  drivers licence details;</li>
                    <li> your gender. </li>
                  </ul>
                                
                <p>If you are applying as a driver in our stores, we also collect your driver's licence number,
                   the make and model of your motor vehicle and your registration number.</p>
                  
                <p> We may also require you to provide information about any pre-existing injuries or medical
                   conditions which may affect your ability to carry out the job, or which may be aggravated by
                    the job, you are applying for.
              </p>
<br><br>
              <h2 class="text-uppercase">GPS tracking</h2>
              <p>We may install GPS trackers in delivery vehicles in order to monitor the progress of 
                order deliveries and to ensure the safety of our delivery staff.  These trackers will 
                record the position of the vehicle at all times during the employee’s shift. </p>
                  
             <p> In connection with a tracked order delivery, a GPS driver tracker page may be available
                in order to track your order in real time.  On this page you may be presented with fun facts,
                trivia and other types of questions. These facts/trivia/questions are provided as entertainment
                and any responses submitted by you may be used for purposes such as measuring customer engagement
                and market research (which may involve providing your de-identified responses to a third
               party for analysis), so that we can better understand the needs of our customers and tailor
               our future products and services accordingly.</p>
<br><br>
            <h2 class="text-uppercase">Payment details</h2>
            <p>Pizzetta allows you to pay either via </p>
              <ul>
                <li> Credit Card; </li>
                <li>Pay Pal</li>
                <li>Cash</li>
              </ul>
<br><br>
            <h2 class="text-uppercase">Access, accuracy and security</h2>
            <p>We will take reasonable steps to ensure that your Information that we collect and hold
               is accurate, complete and up-to-date.  However, we rely on you to advise us of any changes 
               to your Information to help us maintain accurate, complete and up-to-date information. 
              Please let us know if you believe that any of your Information requires updating or correction.</p>
                
            <p> You can request access to and correction of your Information that we hold at any time.
             Any such requests should be made directly by contacting us (see "Contact Us" section below),
             or by updating your details through the relevant Pizzetta Careers page, your franchise
             application or through any other account/profile management platform operated by or on
             behalf of Pizzetta.</p>
                
          <p> We will take reasonable steps to protect your Information from misuse, loss and unauthorised
          access, modification or disclosure.  However, no data protection or security measure is
          completely secure and we cannot guarantee the security of your Information, particularly 
          in relation to online transmissions.  You must take care to ensure you protect your Information
         (for example, by protecting your usernames and passwords) and you must notify us as soon as 
         possible after you become aware of any security breaches.</p>
<br><br>
         <h2 class="text-uppercase">Sensitive information</h2>
         <p>As mentioned under the heading ‘Pizzetta Careers’, when you apply for a job with us you may
            be asked to disclose any pre-existing injuries or medical conditions which may affect your 
            ability to carry out the job, or which may be aggravated by the job, you are applying for. 
           This information will only be used for the purpose of assessing your suitability as a
          Pizzetta employee. </p>
            
           <p> This information will only be collected with your consent. Your completion of the
             job application (and consequently the provision of such information as part of the application)
             will be treated as your consent.</p>
            
          <p> We will not collect, use or disclose any other sensitive information such as information about 
            racial or ethnic origins or political or religious beliefs.</p>
<br><br>
        <h2 class="text-uppercase">Cookies</h2>
        <p>A Cookie is a piece of information that our web server may send to your machine when you visit
           one of our websites. A Cookie helps us to recognise you when you re-visit our sites and to 
           co-ordinate your access to different pages on the sites. We also use Cookies to track online
           advertising performance and eDM movement. By selecting the “Remember My Details” function
           (e.g. ‘Remember my Delivery Details or Remember my Pick-up Details) during the online ordering 
           process, you are agreeing to the storage of a cookie on your computer/device that contains your
           personal details. This function will only work if your computer/device is cookie-enabled.</p>
            
         <p> For example, once you have placed a new pizza order you will be offered the opportunity 
          to personalise your order so that the system remembers it for future use. A cookie will be set
          on your machine that enables us to recognise your computer when you return to order your
          favourite pizza next time.</p>
            
         <p> These cookies may also help us to pre-fill certain forms on our website (including promotions 
          run by third parties) with your details in order to save you time. Please note that where you 
          agree to partake in a third party’s promotion, any Information provided for the purpose of that
         promotion will be stored in accordance with that third party entity’s privacy policy.</p>
            
         <p> With most Internet Browsers, you can erase Cookies from your computer hard drive, block all
         Cookies, or receive a warning before a Cookie is stored. If you want to do this, refer to your
         Browser instructions or help screen to learn more. If you disable all cookies, you may not be
          able to take advantage of all the features of our sites.</p>
<br><br>
          <h2 class="text-uppercase">Links to other sites</h2>
          <p>Our website may contain links to other websites of third parties. A link to a third 
            party website is not an endorsement of the accuracy or trustworthiness of that website or 
            its content and any information collected by such websites will be subject to that website's 
            privacy policy. </p>
              
          <p>  The Pizzetta website may be accessible through or contain connections to areas where 
            you may be able to publicly post information, communicate with others, review products
            and submit media content.  Prior to posting in these areas please read the Pizzetta
            Terms and Conditions and this Privacy Policy carefully.  All the information you post
            may be accessible to anyone with Internet access and any Information you include in your 
          posting may be read, collected and used by others. </p>
<br><br>
        <h2 class="text-uppercase">How to stop receiving communication from us</h2>
        <ul>
          <li>To stop receiving any email correspondence from us, simply click on the link to unsubscribe.</li>
          <li>To remove your details from any of our marketing and communication databases simply email the
             Privacy Officer at pizzetta.srl@gmail.com.</li>
          <li>If your information has been shared with a third party by us, based on your consent to do so,
             you may contact that third party directly and opt out of any direct marketing from them.</li>
        </ul> 
<br><br>
        <h2 class="text-uppercase">Complaints Procedure</h2>
        <p>If you wish to make a complaint about a breach of this policy or the Romanian Privacy Principles 
          of the Privacy Act 1988 (Cth) (as amended), you can lodge a complaint to the
           Pizzetta Privacy Policy Co-ordinator using the contact details below.  
           You will need to provide sufficient details regarding your complaint as well as any supporting
            evidence and/or information.</p>
            
       <p> The Pizzetta Privacy Policy Co-ordinator will investigate your complaint and determine 
        the steps that we will undertake to resolve your complaint.  We will contact you if we require
          any additional information from you and will notify you in writing of the Pizzetta Privacy
          Policy Co-ordinator's determination.  If you are not satisfied with the determination, 
          you can contact us to discuss your concerns or complain to the Romanian Privacy Commissioner 
          via <button href="https://www.privacy.org.ro" type="button" class="btn btn-link">https://www.privacy.org.ro</button> (as applicable). </p>
<br><br>
          <h2 class="text-uppercase">Contact Us</h2>
          <p>If you have any queries regarding this policy please contact the Pizzetta Privacy Policy
             Co-ordinator at Str. Palat, nr. 1-7 or pizzetta.srl@gmail.com.</p>
              <br>
          <p> If you have any queries regarding the Information contained in your profile on the
            relevant Pizzetta jobs website, including how to update that Information, please 
            contact the Pizzetta Training team on training_pizzetta@gmail.com. For more pieces of information,
            go to <button routerLink='/contactUs' type="button" class="btn btn-link">Contact Us Page</button>.
          </p>
        
      </div>
        
  </main>
</body>