<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
</head>

<body>
  <main>
    <div *ngFor="let job of jobs" class="container">
      <div *ngIf="job">

        <h1>Job brief</h1>
        <br>
        <img src="{{job.imageUrl}}" alt="imageUrl">
        <br>
        <p>We are looking for {{job.name}}s.
          <br> The job is {{job.jobStatus}}.
        </p>
        <br>
        <h2> Responsibilities</h2>
        <ul *ngFor="let responsibility of job.responsabilities">
          <li>{{responsibility}}</li>
        </ul>
        <h2> Requirements</h2>
        <ul *ngFor="let requirement of job.requirements">
          <li>{{requirement}}</li>
        </ul>

      </div>
    </div>

  </main>
</body>