.footer {
    padding: 1rem 0;
/*
    position: absolute; 
    bottom: 0; 
    width: 100%;
*/
}
.social__icon:not(:last-child) {
  margin-right: 1.2rem;
}

.icon {
  color: #0142a8;
  font-size: 21px;
}

.fa-facebook-f:hover {
  color: darkblue;
}

.fa-twitter:hover {
  color: #0259e2; 
}

.fa-instagram:hover {
  color: red;
}

.footer__list {
  list-style-type: none;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer__item {
  display: inline-block;
}

.footer__item a {
    color: #212529;
}

.footer__item a:hover {
  text-decoration: none;
}

.footer__item:not(:last-child) {
  padding-right: 10px;
}