<footer class="footer">
    <div class="social text-center">
        <span class="social__icon"><a href=""><i class="fab fa-facebook-f icon"></i></a></span>
        <span class="social__icon"><a href=""><i class="fab fa-twitter icon"></i></a></span>
        <span class="social__icon"><a href=""><i class="fab fa-instagram icon"></i></a></span>
    </div>
    <div class="info text-center">
    &copy;2015-2019 - All rights reserved S.C. PIZZETA S.R.L., Nr. R.C.: J40/1207/2015, C.U.I.: RO17612390, Address: Str. Lalelelor 68A, Iasi
   </div>
<!-- <div class="text-center">
 <input type="checkbox" [checked]="checkbox" (change)="appChanged($event)" id="no"/> Pizzeta
</div> -->
</footer>