    <h1 class="is-title">Product management</h1>

    <button type="button" (click)="onAdd()" class="btn btn-success is-create-button" data-toggle="modal" data-target="#productModal">Create a new product</button>

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th class="text-center" scope="col" style="width: 4%">#</th>
          <th scope="col" style="width: 20%">Name</th>
          <th scope="col" style="width: 52%">Description</th>
          <th class="text-center" scope="col" style="width: 12%">Stock Quantity</th>
          <th class="text-center" scope="col" style="width: 12%">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let product of products; let i = index">
          <tr>
            <th class="text-center" scope="row">{{i+1}}
            </th>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td class="text-center">{{product.stockQuantity}}</td>
            <td class="text-center">
              <button type="button" (click)="onUpdate(product)" class="btn btn-info btn-sm" data-toggle="modal" data-target="#productModal">Edit</button>
              <button type="button" (click)="onDelete(product)" style="margin-left: 5px" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                data-target="#deleteProductModal">Delete</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div *ngIf="product" class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="productModalTitle">{{product.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="CateogryNameLabel">Name</span>
              </div>
              <input type="text" [(ngModel)]="product.name" class="form-control" placeholder="product name" aria-label="productName"
                aria-describedby="CateogryNameLabel">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="CateogryDescriptionLabel">Description</span>
              </div>
              <textarea type="text" [(ngModel)]="product.description" class="form-control" placeholder="product description" aria-label="productDescription"
                aria-describedby="CateogryDescriptionLabel">
              </textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="product" class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteProductModalTitle">Attention</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the {{product.name}} product?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" (click)="onConfirmDelete()" class="btn btn-outline-success" data-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
    </div>