<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="nav">
            <div class="card-columns">

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Waiter">
                    <div class="card-body">
                        <h4 class="card-title">Waiter/Waitress</h4>
                        <p class="card-text">We are looking for a waiter/waitress</p>
                        <a routerLink="/waiter" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Delivery person">
                    <div class="card-body">
                        <h4 class="card-title">Delivery person</h4>
                        <p class="card-text">We are looking for a delivery person</p>
                        <a routerLink="/delivery-person" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Cook">
                    <div class="card-body">
                        <h4 class="card-title">Cook</h4>
                        <p class="card-text">We are looking for an experienced cook</p>
                        <a routerLink="/manager" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Janitor">
                    <div class="card-body">
                        <h4 class="card-title">Janitor</h4>
                        <p class="card-text">We are looking for an experienced janitor</p>
                        <a routerLink="/janitor" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Operator">
                    <div class="card-body">
                        <h4 class="card-title">Operator</h4>
                        <p class="card-text">We are looking for an operator</p>
                        <a routerLink="/operator" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Econimist">
                    <div class="card-body">
                        <h4 class="card-title">Economist</h4>
                        <p class="card-text">We are looking for an economist</p>
                        <a routerLink="/economist" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Manager">
                    <div class="card-body">
                        <h4 class="card-title">Manager</h4>
                        <p class="card-text">We are looking for an experienced manager</p>
                        <a routerLink="/manager" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Customer Relations">
                    <div class="card-body">
                        <h4 class="card-title">Customer Relations Person</h4>
                        <p class="card-text">We are looking for a Customer Relations person</p>
                        <a routerLink="/customer-relations" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Developer">
                    <div class="card-body">
                        <h4 class="card-title">Front-End Developer</h4>
                        <p class="card-text">We are looking for a Front-End Developer</p>
                        <a routerLink="/front-end-dev" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Developer">
                    <div class="card-body">
                        <h4 class="card-title">Back-End Developer</h4>
                        <p class="card-text">We are looking for a Back-End Developer</p>
                        <a routerLink="/back-end-dev" class="btn btn-primary">See job profile</a>
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Administrator">
                    <div class="card-body">
                        <h4 class="card-title">System Administrator</h4>
                        <p class="card-text">We are looking for an experienced System Administrator</p>
                        <a routerLink="/system-admin" class="btn btn-primary">See job profile</a>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
</body>