<div class="container">
    <img src="../../../../assets/images/jobs/imgHiring.jpg" alt="We are hiring" class="img">
    <h3 class="font-italic" style="text-align:center">Check out our job vacancies</h3>

    <div class="careers__location">
        <p>Select location: </p>
        <div *ngFor="let location of locations; let i = index" class="custom-control custom-radio">
            <input (click)="onLocationChanged(location)" type="radio" [id]="'#customRadio' + i" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" [for]="'#customRadio' + i">{{location.cityName}}</label>
        </div>
    </div>

    <div class="row" *ngIf="jobs">
        <ng-template ngFor let-job [ngForOf]="jobs">
            <div class="col-xs-12 col-sm-6 col-md-3 careers__col">
                <div class="card">
                    <img [src]="job.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Job name: {{job.name}}</h5>
                        <p class="card-text">Job type: {{job.jobStatus}}</p>
                        <p class="card-text">Location: {{job.location.cityName}}</p>
                        <div class="items__btn">
                            <button (click)="onClick(job)" class="btn btn-primary font-weight-bold">See full job profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>    
