<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <main>

        <section class="chart">
            <div id="chartContainer">
                <img *ngIf="!category" src="../../../../assets/images/no-data-available.png" alt="Placeholder image">
            </div>
        </section>

        <section class="section-controls">
            <div class="controls">
                <p class="is-title">Settings</p>
                <form action="#" class="controls__form">

                    <label class="is-label1"> Product 1: </label>
                    <select [(ngModel)]="selectedCategory1" (change)="changeCategory1()" name="category1" class="controls__category">
                        <option [value]="-1" class="d">--- Select a category ---</option>
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                    <select *ngIf="items1" [(ngModel)]="selectedValue1" (change)="changeItem1()" name="product1" class="controls__product">
                        <option value="-1">--- Select a product ---</option>
                        <option *ngFor="let item of items1" [value]="item.id">{{item.name}}</option>
                    </select>

                    <label *ngIf="items1">
                        <input type="checkbox" [(ngModel)]="displayAverage1" (change)="onDisplayAverage1()" [ngModelOptions]="{standalone: true}"
                        /> Display average
                    </label>

                    <br/>

                    <label class="is-label2"> Product 2: </label>
                    <select [(ngModel)]="selectedCategory2" (change)="changeCategory2()" name="category2" class="controls__category">
                        <option value="-1">--- Select a category ---</option>
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                    <select *ngIf="items2" [(ngModel)]="selectedValue2" (change)="changeItem2()" name="product2" class="controls__product">
                        <option value="-1">--- Select a product ---</option>
                        <option *ngFor="let item of items2" [value]="item.id">{{item.name}}</option>
                    </select>

                    <label *ngIf="items2">
                        <input type="checkbox" [(ngModel)]="displayAverage2" (change)="onDisplayAverage2()" [ngModelOptions]="{standalone: true}"
                        /> Display average
                    </label>

                    <br/>
                    <br/>

                    <div class="control">
                        <div class="label">
                            <label>Data sorting</label>
                        </div>

                        <label> Starting from </label>
                        <select [(ngModel)]="selectedMonthStart" (change)="changeMonthStart()" name="monthStart" class="controls__from">
                            <option *ngFor="let catalogue of catalogues" [value]="catalogue.id">{{catalogue.month + ", " + catalogue.year}}</option>
                        </select>
                        <label> to </label>
                        <select [(ngModel)]="selectedMonthEnd" (change)="changeMonthEnd()" name="monthEnd" class="controls__to">
                            <option *ngFor="let catalogue of catalogues" [value]="catalogue.id">{{catalogue.month + ", " + catalogue.year}}</option>
                        </select>

                        <br/>

                        <label> Only months with sales over </label>
                        <input [(ngModel)]="selectedMinValue" class="has-text-centered controls__min" name="minValue" (change)="changeMinValue()"
                            type="text">

                        <br/>

                        <label> Only months with sales under </label>
                        <input [(ngModel)]="selectedMaxValue" class="has-text-centered controls__max" name="maxValue" (change)="changeMaxValue()"
                            type="text">

                    </div>
                </form>

            </div>
        </section>

    </main>

</body>