<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 float-right">
        <img src="../../../../assets/images/about_us_page/imgPizza.jpeg" alt="Pizzetta" class="img-fluid">
      </div>

      <div class="col-sm-7 float-left">
        <br>
        <h2 class="card-title font-weight-bold">OUR STORY</h2>
        <br>
        <h5 class="card-text font-italic">After 7 years of experience in the finest Italian cuisines, Chef Antonio comes to Romania and wants to open a pizzeria.
          <br>
          <br> "Pizzeta" is the name of the italian restaurant and it opened its doors in October 2018, bringing authentic (and
          delicious!) Naples-style pizzas tothe North-Eastern region of Romania, in 5 major cities of Moldova: Iasi, Bacau,
          Botosani, Suceava and Vaslui.
          <br>
          <br> At Pizzetta we want to make the best pizza EVER! To make that happen we take our research very seriously!
          <br> We have hunted high and low for the perfect blend of flour to make sure the dough is just how it should be.
          <br> We then found the sweetest, ripest Italian tomatoes from the rich earth of Naples.
          <br> These are picked especially for us and are the base for our secret recipe sauce.
          <br> We top it all off with the tastiest, stretchiest mozzarella and voilà: a little pizza heaven!
          <br>
          <br>
          <button routerLink="/products" class="btn btn-warning font-weight-bold">
            See for yourself</button>
        </h5>
      </div>
    </div>
  </div>
</body>