<head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">   
    </head>
    
    <body>
        <main>
            <br><br>
            <h1 class="font-weight-bold text-center">Administrative Page</h1>
            <br>
            <h3 class="text-center">Management has never been easier!</h3>
            <h3 class="text-center">You're only one click away to manage a module</h3>
            <br><br><br>
            <div class="container">
                <div class="card-columns">
               
                    <div class="card">
                        <div class="card-header font-weight-bold">Category Management</div>
                        <div class="card-body">
                            <p class="card-text">The Category Management module allows you to add. edit and delete certain 
                                categories of products.
                            </p>
                            <button type="button" class="btn btn-primary font-weight-bold" routerLink="/category-mng">Go to page</button>
                        </div>
                    </div>
         
                    <div class="card">
                        <div class="card-header font-weight-bold">Feedback Management</div>
                        <div class="card-body">
                            <p class="card-text">This module manages all the feedback messages we receive from 
                                customers via the Feedback from page</p>
                           <button type="button" class="btn btn-primary font-weight-bold" routerLink="/feedback-mng">Go to page</button>
                        </div>
                    </div>
             
                    <div class="card">
                        <div class="card-header font-weight-bold">Items Management</div>
                        <div class="card-body">
                            <p class="card-text">Via this module, you can either add, edit or delete items from the system.
                                It's just that simple!
                            </p>
                            <button type="button" class="btn btn-primary font-weight-bold" routerLink="/item-mng" [disabled]="true">Go to page</button>
                        </div>
                    </div>
                
                    <div class="card">
                        <div class="card-header font-weight-bold">Jobs Management</div>
                        <div class="card-body">
                            <p class="card-text">The Job Management module ets you add, edit or delete o job that is displayes in the 
                                Carrers page, so the users can see in real time the open vacancies.
                            </p>
                            <button type="button" class="btn btn-primary font-weight-bold" routerLink="/job-mng">Go to page</button>
                        </div>
                    </div>
             
                    <div class="card">
                        <div class="card-header font-weight-bold">Locations Management</div>
                        <div class="card-body">
                            <p class="card-text">In case we are opening a new franchise or closiing an existing one, 
                                this is the module you'll have to use - to eiter add, edit or delete a location.
                            </p>
                            <button type="button" class="btn btn-primary font-weight-bold" routerLink="/location-mng">Go to page</button>
                        </div>
                    </div>
     
                    <div class="card">
                        <div class="card-header font-weight-bold">Subscriptions Management</div>
                        <div class="card-body">
                            <p class="card-text">This module is based on GDPR, and is also directly linked to the
                                Newsletters module. </p>
                            <button type="button" class="btn btn-primary font-weight-bold" routerLink="/subscription-mng">Go to page</button>
                        </div>
                    </div>
                
                </div>
            </div>
            
        </main>
    </body>