<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for a System Administrator to maintain, 
          upgrade and manage our software, hardware and networks.

            Resourcefulness is a necessary skill in this role.
             You should be able to diagnose and resolve problems quickly. 
             You should also have the patience to communicate with a variety of 
             interdisciplinary teams and users.
            
            Your goal will be to ensure that our technology infrastructure runs
             smoothly and efficiently.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Install and configure software and hardware</li>
    <li>Manage network servers and technology tools</li>
    <li>Set up accounts and workstations</li>
    <li>Monitor performance and maintain systems according to requirements</li>
    <li>Troubleshoot issues and outages</li>
    <li>Ensure security through access controls, backups and firewalls</li>
    <li>Upgrade systems with new releases and models</li>
    <li>Develop expertise to train staff on new technologies</li>
    <li>Build an internal wiki with technical documentation, manuals and IT policies</li>
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven experience as a System Administrator, Network Administrator or similar role</li>
      <li>Experience with databases, networks (LAN, WAN) and patch management</li>
      <li>Knowledge of system security (e.g. intrusion detection systems) 
        and data backup/recovery</li>
      <li>Familiarity with various operating systems and platforms</li>
      <li>Problem-solving aptitude</li>
      <li>BSc/Ba in Information Technology, Computer Science or a 
        related discipline; professional certification (e.g. Microsoft Certified
         Systems Administrator (MCSA)) is a plus</li>
   </ul>
 
      </div>
      

  </main>
</body>

