<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for a Customer Relations Specialist to assist our
           customers with technical problems when using our products and services.

            Customer Relations Specialist responsibilities include resolving customer queries,
             recommending solutions and guiding product users through features and 
             functionalities. To be successful in this role, you should be an excellent 
             communicator who’s able to earn our clients’ trust. You should also be familiar
              with help desk software.
            
            Ultimately, you will help establish our reputation as a company that offers
            excellent customer support during all sales and after-sales procedures.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Respond to customer queries in a timely and accurate way, 
      via phone, email or chat</li>
    <li> Identify customer needs and help customers use specific features</li>
    <li>Monitor customer complaints on social media and reach out to provide assistance</li>
    <li>Share feature requests and effective workarounds with team member</li>
    <li>Ensure great presentation by dressing dishes before they are served</li>
    <li> Inform customers about new features and functionalities</li>
    <li>Gather customer feedback and share with our 
      Product, Sales and Marketing teams</li>
  
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Experience as a Customer Relations Specialist or similar CS role</li>
      <li> Familiarity with our industry is a plus</li>
      <li> Experience using help desk software and remote support tools</li>
      <li>Understanding of how CRM systems work</li>
      <li>Ability to work in a team</li>
      <li>Very good communication skills</li>
      <li>Multi-tasking abilities</li>
      <li>BSc in Information Technology or relevant diploma</li>
     
   </ul>
 
      </div>
      

  </main>
</body>

