<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for a responsible Delivery Driver to distribute products
           promptly to our customers. You will represent our company in a professional
           and cost-effective manner to increase our profitability and customer satisfaction.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Deliver a wide variety of items to different addresses and through
       different routes</li>
    <li> Follow routes and time schedule</li>
    <li>Load, unload, prepare, inspect and operate a delivery vehicle</li>
    <li>Ask for feedback on provided services and resolve clients’ complaints</li>
    <li>Collect payments</li>
    <li> Inform customers about new products and services</li>
  
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven working experience as a Delivery Driver</li>
      <li>Valid professional driver’s license</li>
      <li>Ability to operate forklifts and tractors in a variety of weather and traffic conditions</li>
      <li>Excellent organizational and time management skills</li>
      <li>Good driving record with no traffic violations</li>
      <li>High school degree</li>
           
   </ul>
 
      </div>
      

  </main>
</body>

