<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for a skilled Waiter or Waitress to take orders and 
          deliver food and beverages to our customers.

            The right Waiter/Waitress uplifts the dining experience for customers.
             We are looking for someone who will have the patience, personality
              and perseverance to thrive in this role.
            
            Waiter/Waitress responsibilities include greeting and serving customers,
             providing detailed information on menus, multi-tasking various
              front-of-the-house duties and collecting the bill. 
              If you are able to perform well in fast-paced environments, 
              we’d like to meet you. To be a successful Waiter or Waitress, 
              you should be polite with our customers and make sure they enjoy
               their meals. You should also be a team player and be able to 
               effectively communicate with our Kitchen Staff to make sure orders
                are accurate and delivered promptly.
            
            Keep in mind that Waiter/Waitress duties may require working in 
            shifts and/or occasionally during weekends and holidays.
            
            Ultimately, it is the duty of our Waiters/Waitresses to provide an 
            excellent overall dining experience for our guests.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Greet and escort customers to their tables</li>
    <li>Present menu and provide detailed information when asked (e.g. about portions,
       ingredients or potential food allergies)</li>
    <li>Prepare tables by setting up linens, silverware and glasses</li>
    <li>Offer menu recommendations upon request</li>
    <li>Up-sell additional products when appropriate</li>
    <li>Take accurate food and drinks orders, using a POS ordering software, 
      order  slips or by memorization </li>
    <li>Check customers’ IDs to ensure they meet minimum age requirements 
      for consumption of alcoholic beverages</li>
    <li>Serve food and drink orders </li>
    <li>Check dishes and kitchenware for cleanliness
       and presentation and report any problems</li>
    <li>Deliver checks and collect bill payments</li>
    <li>Follow all relevant health department regulations </li>
    <li>Provide excellent customer service to guests </li>
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven work experience as a Waiter or Waitress</li>
      <li>Hands-on experience with cash register and ordering
         information system (e.g. Revel POS or Toast POS)</li>
      <li>Basic math skills</li>
      <li>Attentiveness and patience for customers</li>
      <li>Excellent presentation skillss</li>
      <li>Strong organizational and multitasking skills, 
        with the ability to perform well in a fast-paced environment</li>
      <li>Flexibility to work in shifts</li>
      <li>High school diploma; food safety training is a plus</li>
   </ul>
 
      </div>
      

  </main>
</body>

