<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for an experienced Back-end developer to join our IT team.
           You will be responsible for the server side of our web applications.</p>

          <p>If you have excellent programming skills and a passion for developing applications
             or improving existing ones, we would like to meet you. As a Back-end developer, 
            you’ll work closely with our engineers to ensure system consistency and improve
             user experience.</p>

          <p>Ultimately, you should be able to develop and maintain functional and stable
             web applications to meet our company’s needs.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Participate in the entire application lifecycle, 
      focusing on coding and debugging</li>
    <li> Write clean code to develop functional web applications</li>
    <li>Troubleshoot and debug applications</li>
    <li>Perform UI tests to optimize performance</li>
    <li>Manage cutting-edge technologies to improve legacy applications</li>
    <li> Collaborate with Front-end developers to integrate user-facing 
      elements with server side logic</li>
    <li>Gather and address technical and design requirements</li>
    <li> Provide training and support to internal teams</li>
    <li>Build reusable code and libraries for future use</li>
    <li> Liaise with developers, designers and system administrators to 
      identify new features</li>
    <li>Follow emerging technologies</li>
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven work experience as a Back-end developer</li>
      <li> In-depth understanding of the entire web development 
        process (design, development and deployment)</li>
      <li> Hands on experience with programming languages like
        Java, Ruby, PHP and Python</li>
      <li>Working knowledge of CMS framework</li>
      <li>Familiarity with front-end languages (e.g. HTML, JavaScript and CSS)</li>
      <li>Excellent analytical and time management skills</li>
      <li>Teamwork skills with a problem-solving attitude</li>
      <li>BSc degree in Computer Science or relevant field</li>
  </ul>
 
      </div>
      

  </main>
</body>

