<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for an economist to prepare financial statements 
          and oversee our budgeting and forecasting.
           We’ll rely on you to provide advice to support our company’s decision-making.

            You should be reliable and good at math, and be able to communicate effectively 
            with senior management and various departments. 
            We also want you to be detail-oriented, and possess sharp business acumen.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Gather financial data and ledgers</li>
    <li>Consolidate and analyze financial statements and results</li>
    <li>Prepare budgets and monitor expenditures</li>
    <li>Handle monthly, quarterly and annual closings</li>
    <li>Manage periodical reporting</li>
    <li> Oversee external and internal audits</li>
  
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven experience as an economist</li>
      <li>Excellent knowledge of accounting regulations and practices</li>
      <li>In-depth experience in risk analysis, budgeting and forecasting</li>
      <li>Excellent organizational and time management skills</li>
      <li>Proficient in MS Office (especially Excel) and finance software</li>
      <li>Excellent communication skills</li>
      <li>BSc/BA in Accounting, Finance or related field; professional 
        certification (e.g. CPA) is a plus</li>
   </ul>
 
      </div>
      

  </main>
</body>

