<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>

<body>
    <main>
         <img  src="../../../../assets/images/promotions/imgPromotions.jpg"
            alt="Current promotions" class="img-fluid">
            <br><br><br>
        <div  class="container">
            <div class="row">
                <div class="col-6">
                        <img  src="../../../../assets/images/promotions/imgFidelityPoints.png"
                         alt="Fidelity Points" class="img">
                </div>
                <div class="col-4">
                    <br><br><br>
                    <h3 class="font-weight-bold float-left">These points are earned as the you order from us. 
                            E.g. for every order of 100 RON minimum, the users gets 1 point.
                    </h3>
                </div>
             </div> 
        </div>

        <div  class="container">
            <div class="row">
                <div class="col-6">
                        <img  src="../../../../assets/images/promotions/imgCoupons.png"
                         alt="Coupons" class="img">
                </div>
                <div class="col-6"> 
                    <br><br>
                    <h3 class="font-weight-bold float-left">
                        You can receive or win these codes from our partners, 
                        such as <a href="http://dobrogeagrup.ro/faina-ambalata/">Dobrogea</a>,
                        <a href="https://cristim.ro/">CRIS-TIM</a>, 
                        <a href="https://www.eon-energie-romania.ro/">E-On</a>.
                        Or you can get it directly from our Facebook, Instagram or Twitter pages.
                    </h3>
                    
                </div>
                </div> 
         </div>

        <div  class="container">
            <div class="row">
                <div class="col-6">
                        <img  src="../../../../assets/images/promotions/imgBuy3.png" 
                        alt="Buy3Get1Free" class="img">
                </div>
                <div class="col-4">
                        <br><br><br>
                    <h3 class="font-weight-bold float-left">
                        For every 3 pizzas you order from us, you get the 4th one from us!
                    </h3>
                </div>
                </div> 
        </div>

        <div  class="container">
            <div class="row">
                <div class="col-6">
                        <img  src="../../../../assets/images/promotions/imgBirthday.png"
                         alt="50% Birthday Off" class="img">
                </div>
                <div class="col-4">
                    <h3 class="font-weight-bold float-left">
                        Because we love our customers and also birthday parties, 
                        we decided to offer you an amazing gift: 50% Discount on 
                        any order you make from us, on your birthday!!!
                    </h3>
                   
                </div>
                </div> 
        </div>
                

        
    </main>
</body>