<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>

<body>
  <main>
    <div class="card">
      <img  src="../../../../assets/images/contact_us/imgContactUs.jpg" alt="Contact us" class="img-fluid">
      <div class="card-img-overlay">
          <br><br>
          <h2 class="card-title font-weight-bold">Don't be a stranger! </h2>
          <h4 class="card-title">If you're interested in any of the services we offer, we'd love to talk to you. </h4>
          <h5  class="card-title">Here's how you can reach us:</h5>
       
          <div class="contaier">
              <i class="fas fa-map-marker-alt fa-2x"> Visit us: Str. Lalelelor 68A, Iasi, Romania</i> <br/>
              <i class="fas fa-phone mt-4 fa-2x"> Give us a call: 0232-225-225</i> <br/>
              <i class="fas fa-pen-fancy  mt-4 fa-2x"> Mail us a letter: same address as above</i><br/>
              <i class="fas fa-envelope mt-4 fa-2x"> E-mail us: pizzetta.srl@gmail.com</i><br/>
              <i class="fas fa-sticky-note mt-4 fa-2x"> Leave us a message <button routerLink="/feedback" type="button" class="btn btn-primary">Feedback Page</button></i>
          </div>
      
            
            
          
          
      </div>
    </div>
  </main>
</body>