<!-- Page Content -->
<br>

<div class="container">

	<div class="row">
		<div class="col-lg-6">
			<h2>Welcome to pizzetta</h2>
			<p>Take time to have a look at our pizzas. They are delicious.</p>
			<p>If you still can't decide what to choose, we invite you to make your own pizza. Just click on the image on the right!</p>
		</div>
		<div class="col-lg-6">
			<img class="img-fluid rounded c-pointer" routerLink="/make-own-pizza" src="../../../../assets/images/featured/imgMakeYourOwnPizza.jpg" alt="">
		</div>
	</div>

</div>

<br>

<slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize" [showArrows]="showArrows"
 [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide" [debug]="debug" [backgroundSize]="backgroundSize"
 [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots" [dotColor]="dotColor"
 [showCaptions]="showCaptions" [captionColor]="captionColor" [captionBackground]="captionBackground" [lazyLoad]="lazyLoad"
 [hideOnNoSlides]="hideOnNoSlides">
</slideshow>