<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
  </head>

<body>
  <main>
      <div class="container">
        <h1>Job brief</h1>  

        <p>We are looking for a Janitor, or custodian,  to take care of our 
          building and carry out cleaning, maintenance and security duties.

            The goal is to keep our building in a clean and orderly condition.
          </p>

            <h2> Responsibilities</h2> 
              
<ul>
    <li>Clean and supply designated building areas (dusting, sweeping, vacuuming,
       mopping, cleaning ceiling vents, restroom cleaning etc)</li>
    <li>Perform and document routine inspection and maintenance activities</li>
    <li>Notify management of occurring deficiencies or needs for repairs</li>
    <li>Make adjustments and minor repairs</li>
    <li>Stock and maintain supply rooms</li>
    <li>Cooperate with the rest of the staff</li>
    <li>Follow all health and safety regulations</li>
</ul>
      
     <h2>  Requirements</h2>
  
  <ul>
      <li>Proven working experience as a janitor</li>
      <li>Ability to handle heavy equipment and machinery</li>
      <li>Knowledge of cleaning chemicals and supplies</li>
      <li>Familiarity with Material Safety Data Sheets</li>
      <li>Integrity and ability to work independently</li>
      <li>High school degree</li>
   </ul>
 
      </div>
      

  </main>
</body>

