<form class="d-flex flex-column" #registerForm="ngForm">
	<div class="form-row">
		<div class="col-xs-12 col-sm-6 form-group">
			<label>First name* </label>   
		  	<input type="text" class="form-control" placeholder="" [(ngModel)]="firstName"  name="first" #first="ngModel" required minlength="3" maxlength="50"> 
		  	
            <div *ngIf="first.invalid && (first.dirty || first.touched)" class="alert alert-danger mt-1">
                <div *ngIf="first.errors.required">
                    First Name is required.
                </div>
                <div *ngIf="first.errors.minlength">
                    First Name must be at least 3 characters long.
                </div>
            </div>
		</div>
		<div class="col-xs-12 col-sm-6 col form-group">
			<label>Last name*</label>
		  	<input type="text" class="form-control" placeholder="" [(ngModel)]="lastName" name="last" #last="ngModel" required minlength="2" maxlength="50">
		  	
		  	<div *ngIf="last.invalid && (last.dirty || last.touched)" class="alert alert-danger mt-1">
                <div *ngIf="last.errors.required">
                    Last Name is required.
                </div>
                <div *ngIf="last.errors.minlength">
                    Last Name must be at least 2 characters long.
                </div>
            </div>
		</div>
	</div>
	
    <div class="form-group">
		<label>Username*</label>
		<input type="text" class="form-control" placeholder="" [(ngModel)]="customer.username" name="username" #username="ngModel" required minlength="4" maxlength="50">
		
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger mt-1">
            <div *ngIf="username.errors.required">
                Username is required.
            </div>
            <div *ngIf="username.errors.minlength">
                Username must be at least 4 characters long.
            </div>
			<div *ngIf="username.errors.maxlenth">
                Username must be at most 50 characters long.
            </div>
        </div>
	</div>
	
    <div class="form-group">
		<label>Email address*</label>
		<input type="email" class="form-control" placeholder="" [(ngModel)]="customer.email" [ngModelOptions]="{ updateOn: 'blur' }" name="email" #email="ngModel" required pattern="[a-z0-9._%+-]{3,}@[a-z]{3,}([.]{1}[a-z]{2,}|[.]{1}[a-z]{2,}[.]{1}[a-z]{2,})">
				
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
            <div *ngIf="email.errors.required">
                Email is required.
            </div>
            <div *ngIf="email.errors.pattern">
                Please insert a valid email.
            </div>
        </div>
	</div>
	
    <div class="form-group">
		<label>Phone number*</label>
		<input type="tel" class="form-control" placeholder="" [(ngModel)]="customer.phoneNumber" [ngModelOptions]="{ updateOn: 'blur' }" name="phone" #phone="ngModel" required pattern="^\d{10,15}$">
		
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger mt-1">
            <div *ngIf="phone.errors.required">
                Phone is required.
            </div>
            <div *ngIf="phone.errors.pattern">
                Please insert a valid phone number.
            </div>
        </div>
	</div>
   
   	<div class="form-row">
		<div class="col-xs-12 col-sm-6 form-group">
		    <label>Street*</label>
		    <input type="text" class="form-control" name="street" [(ngModel)]="customer.address.street" #street="ngModel" required minlength="5" maxlength="100">
		    
            <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert alert-danger mt-1">
                <div *ngIf="street.errors.required">
                    Street is required.
                </div>
				<div *ngIf="street.errors.minlength">
					Street must be at least 5 characters long.
				</div>
				<div *ngIf="street.errors.maxlenth">
					Username must be at most 100 characters long.
				</div>
            </div>
		</div>
		<div class="col-xs-6 col-sm-3 col form-group">
			<label>Street Nr.*</label>
			<input type="text" class="form-control" name="streetNr"[(ngModel)]="customer.address.streetNr" required #streetNr="ngModel">
			
            <div *ngIf="streetNr.invalid && (streetNr.dirty || streetNr.touched)" class="alert alert-danger mt-1">
                <div *ngIf="streetNr.errors.required">
                    Street Nr. is required.
                </div>
            </div>
		</div>
		<div class="col-xs-6 col-sm-3 col form-group">
		    <label>Building Nr.</label>
		    <input type="text" class="form-control" name="building" [(ngModel)]="customer.address.buildingNr">
		</div>
		<div class="col-xs-6 col-sm-4 col form-group">
			<label>Entrance Nr.</label>
			<input type="text" class="form-control" name="entrance" [(ngModel)]="customer.address.entranceNr">
		</div>
        <div class="col-xs-6 col-sm-4 col form-group">
			<label>Floor Nr.</label>
			<input type="text" class="form-control" name="entrance" [(ngModel)]="customer.address.floorNr">
		</div>
		<div class="col-xs-6 col-sm-4 col form-group">
		    <label>Apartment Nr.</label>
		    <input type="text" class="form-control" name="apartment" [(ngModel)]="customer.address.apartamentNr">
		</div>
		<div class="col-xs-6 col-sm-6 col form-group">
			<label>Zip Code</label>
			<input type="text" class="form-control" name="zip" [(ngModel)]="customer.address.zipCode" #zip="ngModel" pattern="^[0-9]{6}$">
			
			<div *ngIf="zip.invalid && (zip.dirty || zip.touched)" class="alert alert-danger mt-1">
                <div *ngIf="zip.errors.pattern">
                    Please enter a valid zip.
                </div>
            </div>
		</div>
		<div class="col-xs-12 col-sm-6 form-group">
			<label>City*</label>
			<select class="form-control" [(ngModel)]="selectedCity" name="city" #city="ngModel" required>
              <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
            </select>
            
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger mt-1">
                <div *ngIf="city.errors.required">
                    Please select a City. 
                </div>
            </div>
		</div>
	</div>
    
	<div class="form-group">
		<label>Password*</label>
	    <input class="form-control" type="password" [(ngModel)]="customer.password" [ngModelOptions]="{ updateOn: 'blur' }" #password="ngModel" name="password" required pattern="(?=^.{8,16}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$">
	    
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-1">
            <div *ngIf="password.errors.required">
                Password is required.
            </div>
            <div *ngIf="password.errors.pattern">
                Password must be at least 8 (max. 16) characters long and contain at least one uppercase letter, one number and one special character.
            </div>
        </div>	    
	</div> 
  
  	<div class="form-group">
		<label>Repeat password*</label>
	    <input class="form-control" type="password" [(ngModel)]="secondPassword" name="secondPassword" #repeatPassword="ngModel" required (blur)="onCheck()">
	    
	   <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="alert alert-danger mt-1">
            <div *ngIf="repeatPassword.errors.required">
                Repeat password is required.
            </div>
        </div>	
        <div *ngIf="repeatPassword.valid && !match" class="alert alert-danger mt-1">
            Passwords do not match.
        </div>  
	</div> 
   
    <div class="form-group align-self-center">
        <button type="submit" [disabled]="!registerForm.form.valid || !match" class="btn btn-primary register__submit" (click)="onRegister()"> Register  </button>
    </div>
    <small *ngIf="!registerForm.form.valid" class="text-danger text-center mb-1">All fields marked with * are mandatory!</small> 
    <small class="text-muted text-center">By clicking the 'Register' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
</form>
<div class="border-top card-body text-center login">Have an account? <a routerLink="/login">Log In</a></div>