form {
    width: 80%;
    margin: 2rem auto;
}

.login {
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    form {
        width: 40%;
        margin: 2rem auto;
    }

    .login {
        width: 40%;
        margin: 0 auto;
    }
}

